@keyframes like-icon__scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes like-icon__sparks {
  0% {
    fill: transparent;
  }
  50% {
    fill: var(--anim-heart__fill);
  }
  100% {
    fill: transparent;
  }
}
