.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;

  font-family: var(--main-font), sans-serif;
  font-variation-settings: "wght" var(--main-weight);

  background-image: var(--background-gradient);
  background-size: cover;
  background-attachment: fixed;

  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 100px 0;
}

a {
  color: #261676;
  position: relative;
  text-decoration: none;
}

a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 1px;
  background: currentColor;

  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}

a:hover::after {
  transform: scaleX(1);
}

/* Резиновая ширина карточек */
.flexible {
  inline-size: var(--card-width);
}

/* Хедер-секция */
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 130px 0;
  gap: 20px;
  margin-bottom: 100px;

  background-color: var(--bg-color);
  outline: 2px solid var(--accent-color);

  font-family: var(--accent-font), fantasy;
  font-size: var(--textlogo-size);
  text-transform: uppercase;
}

.header h1 {
  font-size: var(--heading-size);
}

/* Карточки */
.card {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  align-items: center;

  background-color: var(--bg-color);
  border: 2px solid var(--accent-color);

  font-family: var(--main-font), sans-serif;
}

.card__title {
  align-self: flex-start;
  padding: 4px 12px;
  font-size: 1rem;
  font-variation-settings: "wght" var(--title-weight);
}

.card__content {
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

.card__image {
  display: block;
  width: 100%;
}

/* Фильтры изображений */
.card__image.ready {
  filter: sepia(0.3) brightness(1.05) saturate(1.15);
}

.card__image.fresh-start {
  filter: brightness(1.1) contrast(1.15);
}

.card__image.momentum {
  filter: saturate(1.2) contrast(1.1);
}

.card__image.self-doubt {
  filter: grayscale(0.25) contrast(1.3);
}

.card__image.not-alone {
  filter: hue-rotate(-12deg) saturate(1.2);
}

.card__image.keep-going {
  filter: contrast(1.05) saturate(1.1) brightness(1.05);
}

.card__image.still-here {
  filter: blur(0.4px) brightness(0.9) contrast(1.2);
}

.card__image.worth-it {
  filter: brightness(1.08) contrast(1.1) saturate(1.4);
}

.card__image-wrapper {
  position: relative;
}

.card__image-label {
  position: absolute;
  top: 25px;
  right: 25px;

  font-family: var(--accent-font), fantasy;
  font-size: 0.78rem;
  color: var(--accent-color);
  opacity: 0.5;
  mix-blend-mode: hard-light;
  text-shadow:
    -1px 0 #fff,
    1px 0 #fff,
    0 -1px #fff,
    0 1px #fff;
}

@supports (-webkit-text-stroke: 1px #fff) {
  .card__image-label {
    -webkit-text-stroke: 1px #fff;
    text-shadow: none;
  }
}

.card__content-wrapper {
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

/* Кнопки карточки */
.card__buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 12px;
}

.button__text {
  position: relative;
  font-family: var(--accent-font), fantasy;
  font-size: 0.78rem;
  color: var(--text-color);
  mix-blend-mode: difference;
  white-space: nowrap;
  z-index: 1;
}

.card__icon-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;

  background-color: transparent;
  border: 2px solid transparent;
  transition: border-color 0.3s ease;
}

.card__icon-button:focus-visible {
  outline: none;
  border-color: var(--accent-color);
}

.card__icon-button:focus {
  outline: none;
}

.card__like-button {
  inline-size: 130px;
  align-self: flex-end;
  padding: 8px 0;
}

/* Кнопка сохранения */
.save-button {
  inline-size: var(--save-button-width);
  justify-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 15px;
  line-height: 0.9;
}

.save-icon {
  width: 21px;
  height: 21px;
  color: var(--text-color);
  mix-blend-mode: difference;
  z-index: 1;
  flex-shrink: 0;
}

/* Модальное окно */
dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.75);
}

.save-card {
  display: none;
  inline-size: var(--save-card-width);

  padding: 30px;
  border: 2px solid var(--accent-color);
  background-color: var(--bg-color);
}

.save-card[open] {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.save-card__content {
  display: flex;
  align-items: center;
  gap: 20px;
}

.save-card__content .save-icon {
  width: 39px;
  height: 39px;
}

.save-dialog__text {
  font-family: var(--accent-font), fantasy;
  font-size: 0.78rem;
  text-transform: uppercase;
  text-align: start;
  line-height: 1.5;
}

.save-dialog__close-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
}

/* Анимации состояний */

.button {
  position: relative;
  overflow: hidden;
  transition: box-shadow 0.3s ease;
  border: 2px solid var(--accent-color);
  background-color: var(--bg-color);
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0 var(--accent-color);
}

.button::before {
  content: "";
  background-color: var(--accent-color);

  position: absolute;
  inset: 0;
  z-index: 0;
  transition: transform 0.5s ease-in-out;
  transform: translateX(-100%);
}

.button:hover::before {
  transform: translateX(0);
}

/* Адаптация для мобильных устройств */
@media (width <= 375px) {
  .save-button {
    flex-direction: column;
    padding: 15px 20px;
  }

  .save-icon {
    inline-size: 28px;
    block-size: 28px;
  }
}

/* --- Анимация иконки кнопки Лайк --- */

/* Начальные состояния */
.like-icon,
.heart {
  transform-origin: center;
}

.main-body {
  fill: transparent;
  transition: fill 0.3s linear;
}

.core {
  fill: transparent;
  transition: fill 0.3s linear 0.03s;
}

.contour {
  transition: fill 0.1s linear;
}

.sparks {
  fill: transparent;
  transition: fill 0.3s linear 0.06s;
}

/* Анимация hover состояния */
.like-icon:hover .core {
  fill: var(--anim-heart-contour);
  transition-delay: 0s;
}

.like-icon:hover .main-body {
  fill: var(--anim-heart-contour);
  transition-delay: 0.05s;
}

/* Анимация active состояния */
.like-icon:active .core {
  fill: var(--anim-heart-fill);
  transition-delay: 0s;
}

.like-icon:active .main-body {
  fill: var(--anim-heart-fill);
  transition-delay: 0.05s;
}

/* Анимация click состояния */
.like-icon.is-liked .core {
  fill: var(--anim-heart-fill);
  transition-delay: 0s;
}

.like-icon.is-liked .main-body {
  fill: var(--anim-heart-fill);
  transition-delay: 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--anim-heart-fill);
  transition-duration: 0.3s;
  transition-delay: 0.06s;
}

.like-icon.is-liked .heart {
  animation: like-icon__scale 0.3s ease-in 0.1s;
}

.like-icon.is-liked .sparks {
  animation: like-icon__sparks 0.3s ease-in 0.3s;
}
