/*
Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки
*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  
  font-family: var(--main-font), sans-serif;
  font-variation-settings: "wght" var(--text-weight);

  background-image: var(--background-gradient);
  background-size: cover;
  background-attachment: fixed;

  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 100px 0;
}

.flexible {
  inline-size: var(--card-width);
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 130px 0;
  gap: 20px;
  margin-bottom: 100px;

  background-color: #fff;
  outline: 2px solid #000;

  font-family: var(--accent-font);
  font-size: var(--textlogo-size);
  text-transform: uppercase;
}

.header h1 {
  font-size: var(--heading-size);
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #fff;
  outline: 2px solid #000;

  font-family: var(--main-font), sans-serif;
}

.card__title {
  align-self: flex-start;
  padding: 4px 12px;
  font-size: 1rem;
  font-weight: var(--title-weight);
}

.card__content {
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

.card img {
  display: block;
  inline-size: 100%;
  max-block-size: var(--card-width);
}

.card__content-wrapper {
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.card__buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 12px;
}

.card__icon-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;

  background-color: transparent;
  outline: none;
  border: none;
}

.card__like-button {
  inline-size: 130px;
  align-self: flex-end;
  padding: 10px 0;
  border: 2px solid #000;
  background-color: transparent;

  font-family: var(--accent-font), fantasy;
  font-size: 0.78rem;
}
